body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
  
}

.logo{
    background-color: #45a049;
    color: blanchedalmond;
    padding: 10px;
}
form {
    max-width: 400px;
    margin: auto;
    color: blanchedalmond;
}

label {
    display: block;
    margin-top: 10px;
    color: blanchedalmond;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
